<ion-view title="<span>Hands On</span>">
  <ion-content>

    <ion-scroll class="height100" scroll="auto">
        <div class="color-bar-blue-striped">pathologyName<span></span></div>
        <div class="row row-center height45">
        	<div class="col col-center">
			<p>pathology.description</p>
            </div>
        </div>
        <div class="row row-top height45">
        	<div class="col col-top">
            	<div class="biorythm-bar-hold">
                	<span style="transform:scale(0.5, 1)"></span>
                    <p>Hold</p>
                    <div class="row margin0 padding0 metter"><div class="col margin0 padding0">1s</div><div class="col margin0 padding0">2s</div><div class="col margin0 padding0">3s</div><div class="col margin0 padding0">4s</div><div class="col margin0 padding0">5s</div></div>
                </div>
            </div>
        </div>
        <div class="row last-row"></div>
    </ion-scroll>
    <div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
			<button class="move violet uppercase" ui-sref='welcome'>Start</button>
            <button class="move violet uppercase footer-dot-violet" ui-sref='welcome'>Do It Later</button>
			<div class="bottom-bar-blue-fixed"></div>
         </div>
	</div>
    </ion-content>
</ion-view>
