<ion-view title='<span class="violet">Abdominal Breathing</span>'>
  <ion-content has-bouncing="false">

<!--    <ion-scroll class="height100" scroll="auto"> -->
        <div class="color-bar-blue-striped">The Practice</div>
        <div class="row row-center height75 silhouette">
        	<div class="col col-center">
            
            
            <!-- Aca se modifican las clases para la animacion -->
            <!-- NORMAL: animate-normal -->
            <!--   SLOW: animate-slow -->
            <!-- SLOWER: animate-slower -->
				<div class="air animate-normal">
                	<img src="svg/silhouette-arrow.svg" alt="&#8595;" class="svg">
                </div>
                
                
                
            </div>
        </div>
<!--    </ion-scroll>-->
        <div class="abdominal-breathing">
            
            
            
            <!-- Aca TAMBIEN se modifican las clases para la animacion de la barra -->
            <!-- NORMAL: air-breathing-bar-animate-normal -->
            <!--   SLOW: air-breathing-bar-animate-slow -->
            <!-- SLOWER: air-breathing-bar-animate-slower -->
                <div class="biorythm-bar-breathing air-breathing-bar-animate-normal">
                    <span></span>
                    <p class="inhale">Inhale</p>
                    <p class="exhale">Exhale</p>
                    <p class="hold">Hold</p>
                </div>
                    <div class="controls uppercase">
                        Time Remaining: <span>15:00</span>
                        <br>
                        
                        <!-- Etiqueta SPAN muestra la velocidad seleccionada -->
                        Speed: Normal <span>Slow</span> Slower
                    </div>
                    
                    
                    
        </div>
    </ion-content>
</ion-view>

