<ion-view title="<span>Chat</span>">
  <ion-content class="over-bg-g">
  	<ion-scroll scroll="auto" class="height100">
        <div class="color-bar-pink-striped"> Your Friends<span style="position: absolute; width: 50px; left: 0px; margin-top: 21px;"></span></div>

<!-- FRIEND ROW -->
	<div class="row row-center bottom-line friends">
    	<div class="col col-center tleft">
        	<span class="profile miniature fleft"></span>
        	<span class="friend-name fleft">Ross</span>
        </div>
        <div class="col tright profile-btns pink uppercase">
        	<span>View Profile</span> <span class="dot">Unfriend</span>
        </div>
	</div>
<!-- endind friend row -->

<!-- FRIEND ROW -->
	<div class="row row-center bottom-line friends">
    	<div class="col col-center tleft">
        	<span class="profile miniature fleft"></span>
        	<span class="friend-name fleft">Rachel</span>
        </div>
        <div class="col tright profile-btns pink uppercase">
        	<span>View Profile</span> <span class="dot">Unfriend</span>
        </div>
	</div>
<!-- endind friend row -->

<!-- FRIEND ROW -->
	<div class="row row-center bottom-line friends">
    	<div class="col col-center tleft">
        	<span class="profile miniature fleft"></span>
        	<span class="friend-name fleft">Phoebe</span>
        </div>
        <div class="col tright profile-btns pink uppercase">
        	<span>View Profile</span> <span class="dot">Unfriend</span>
        </div>
	</div>
<!-- endind friend row -->

<!-- FRIEND ROW -->
	<div class="row row-center bottom-line friends">
    	<div class="col col-center tleft">
        	<span class="profile miniature fleft"></span>
        	<span class="friend-name fleft">Monica</span>
        </div>
        <div class="col tright profile-btns pink uppercase">
        	<span>View Profile</span> <span class="dot">Unfriend</span>
        </div>
	</div>
<!-- endind friend row -->

<!-- FRIEND ROW -->
	<div class="row row-center bottom-line friends">
    	<div class="col col-center tleft">
        	<span class="profile miniature fleft"></span>
        	<span class="friend-name fleft">Chandler</span>
        </div>
        <div class="col tright profile-btns pink uppercase">
        	<span>View Profile</span> <span class="dot">Unfriend</span>
        </div>
	</div>
<!-- endind friend row -->

<!-- FRIEND ROW -->
	<div class="row row-center bottom-line friends">
    	<div class="col col-center tleft">
        	<span class="profile miniature fleft"></span>
        	<span class="friend-name fleft">Joey</span>
        </div>
        <div class="col tright profile-btns pink uppercase">
        	<span>View Profile</span> <span class="dot">Unfriend</span>
        </div>
	</div>
<!-- endind friend row -->




	<div class="row last-row"></div>
</ion-scroll>
	<div class="bar bar-footer margin0 padding0"></div><!-- Muestra solo el fadding blanco inferior -->
  </ion-content>
</ion-view>