<ion-view title="<span>Chat</span>">
  <ion-content>
  <div class="color-bar-title-striped-pink">Help Or Helper<span></span></div>
          <ion-scroll scroll="auto" class="height100 has-subheader" has-bouncing="false">

      <div class="row row-center">
        <div class="col col-center">

          <p class="tjustify">
            This is your personal space to talk about your thoughts, problems, or give advice and comfort to those in need. After you make your choice, you will be randomly connected to other available users in the opposite area. Remember, respect and understanding are key to keep a good and fluid communication.
          </p>

        </div>
      </div>


      <div class="row row-center height40">
        <div class="col col-center">
          <button class="uppercase goals blue bottom-line" ng-click="connect()">I Need Help</button><br>
          <button class="uppercase goals" ng-click="connect()">I Want To Help</button>
        
        </div>

      </div>



      <div class="row last-row"></div>
    </ion-scroll>
    <div class="bar bar-footer margin0 padding0">
      <div class="col col-top margin0 padding0">
        <p class="tcenter">
        <!-- IMPORTANTE -->
        <!-- Para destildar el checkbox, se reemplaza la clase: -->
        <!-- ion-ios7-checkmark -->
        <!-- por la clase: -->
        <!-- ion-ios7-circle-outline -->
			</i> <i class="icon icon-chat ion-ios7-checkmark" style="position: relative; top: 2px; right: 4px;"></i> Chat anonymously
          <div class="bottom-bar-fixed"></div>
        </div>
      </div>

    </ion-content>
  </ion-view>
