<div class="color-bar-blue-striped">Introduction</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row row-center">
  <div class="col col-center">
    <p>Autokinetics is the practice of automatic or spentaneous body movements that produce vital energy. <strong>It is based on three simple steps</strong>, and contrary to what happens with aerobics, yoga and other therapeutic programs, autokinetics require no willpower, discipline or endurance. </p>
    <p>Some people are reluctant to try anything new because they remember the effort that had to be made in other programs, but autokinetics involves no work, it's an energetic stop, a recess time in which we can practice some simple and fun movements. </p>
    <p>All you have to do is make a pause for about ten minutes, allowing the body to move at its own will, without seeking any purpose, without work and effort, it's a break from the demands of everyday life. </p>
    <p>Be prepared to reload your energy.</p>
  </div>
</div>
<div class="row last-row"></div>
