<div class="color-bar-blue-striped">Introduction</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row row-top">
  <div class="col">
    <p>Known as abdominal or diaphragmatic breathing, it acts on the Vagus nerve and the Parasympathetic nervous system producing a sense of calm. It can be performed in any position.</p>
    <p class="violet"><b class="bold">The instructions are simple: Inspire air and direct it to your abdoment, not your chest. Make it swell, hold your breath for a few seconds, and slowly exhale. Don't worry, on the next screen we will guide you though this practice.</b></p>
    <p> You will notice that as you try to do this, thoughts, worries, and other things that distract you from the concentration on your breathing will cross your mind. When you realize this, simply re-focus your attention back to the breathing, no matter how many times you have to do it.</p>
  </div>
</div>
