<div class="color-bar-blue-striped">Step One - Initizalization</div>
<span class="eft"><!-- SPAN CON CLASE MASTER PARA ESTILAR TODOS LOS ELEMENTOS -->
    <div class="row row-center">
      <div class="col col-center">
        <strong>Repeat 3 times:</strong>
      </div>
    </div>
    <div class="row row-center">
      <div class="col col-center">
        <quote class="italic violet">Even though I have this _(<strong>problem</strong>)_, I approve and accept myself deeply and completely.</quote>
      </div>
    </div>
    <div class="row row-center ">
      <div class="col col-center">
        <p class="tcenter">At the same time tap the karate point shown below:</p>
      </div>
    </div>
    <div class="row row-center height45">
      <div class="col col-center height100">
        <img src="images/karate-point-hand.png" class="eft-imgs" style="padding-top:0;">
      </div>
    </div>
</span>