<div class="color-bar-blue-striped">Step Three</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">HOW WAS THE FINAL IMAGE?</h5>
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col">
    <p>The last image you imagined after hearing the audio, is for you a good image? Without any parameter in particular, just feeling if that image is good for you.</p>
  </div>
</div>
<div class="row">
  <div class="col col-bottom">
    <div class="btn-answer-boolean uppercase pink" ng-click="emdrYes()">YES</div>
    <div class="btn-answer-boolean uppercase violet" ng-click="emdrNo()">NO</div>
  </div>
</div>