<div class="color-bar-blue-striped">Step Four</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Present Vs Past</h5>
    <p>Ask yourself what you're avoiding in the present because of what happened in the past. By working on this you will eliminate the need to feel gulty.</p>
    <p>Write it down in the following field:</p>
  </div>
</div>
<div class="row row-bottom height75 margin0 padding0">
  <div class="col col-bottom height100 padding0 margin0">
    <div class="paper-bg height100">
      <textarea placeholder="Write here" class="handwritten" ng-model="guilty.presentPast"></textarea>
    </div>
  </div>
</div>
