<div class="color-bar-blue-striped">Summary</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Review your journey</h5>
    <p>This is the summary of the steps you've completed up until this point. Read carefully and re-evaluate your need to feel guilt:</p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">Why You feel Guilt</h5>
    <p class="italic violet tcenter">{{guilty.why}}</p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">Always Remember</h5>
    <p class="italic violet tcenter"><quote>My feelings of guilt will not change the past nor they will make me a better person.</quote></p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">What you're missing today</h5>
    <p class="italic violet tcenter">{{guilty.presentPast}}</p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">Avoid being manipulated</h5>
    <p class="italic violet tcenter">Accept yourself. You may disagree with others, and that's fine. People must learn to respect your wishes.</p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="violet">Still Think it's worth feeling guilty?</h5>
  </div>
</div>
<div class="row guilt">
  <div class="col col-bottom padding0">
    <div class="btn-answer-boolean uppercase pink" ng-click="guiltyStillYes()">YES</div>
   </div>
   <div class="col col-bottom padding0">
    <div class="btn-answer-boolean uppercase violet" ng-click="guiltyStillNo()">NO</div>
  </div>
</div>
