<div class="color-bar-blue-striped">Step One</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row row-center height25">
  <div class="col col-center">
    <p class="violet italic">This is a simple method that will guide you trough the process of decision making. Just follow the steps given on each screen.</p>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Define Your Decision</h5>
    <p class="tjustify">Take a few minutes to write the decision you are about to take. Writing your thoughts allows you to see things from a different point of view. Remember that a well defined problem is a halfway solved problem.
    </div>
  </div>
  <div class="row row-bottom height60 margin0 padding0">
    <div class="col col-bottom height100 padding0">
      <div class="paper-bg height100">
        <textarea placeholder="Write here" class="handwritten" ng-model="indecision.decision"></textarea>
      </div>
    </div>
  </div>
