<div class="color-bar-blue-striped">Step Nine</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Final Recomendations</h5>
  </div>
</div>
<div class="row row-top">
  <div class="col">
    <p>Don't be afraid to say yes or no. Act according to what you think and feel, but make a decision. This assertive attitude will lead to an improvement in your personal development.</p>
    <p>Forget about indecision, doubt and fear.</p>
    <p>Act according to what you really think and feel, if you don't want to do something don't do it. If you don't want to say yes to a proposal that doen not suit you, don't do it, remember that <strong>nobody is forcing you to do it.</strong></p>
    <p>Be firm, but consistent. If you know that some action will harm you or goes against your values or personal interests, don't do it, take the right decision.</p>
    <p><strong>Neither be impulsive</strong>, doing so leads to mistakes and failure in several aspects of life, and this is worse than indecision.</p>
    <p>Analize your behavior in relation to the decisions you make, so you can achieve a better life quality by taking assertive decisions that will benefit you both personally and socially.</p>
  </div>
</div>
<div class="row last-row"></div>
