<div class="color-bar-blue-striped">Step Two</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Identify Your Real Goal</h5>
    </div>
  </div>
  <div class="row row-bottom margin0 padding0">
    <div class="col col-bottom height100">
      <p>Whenever we are faced with a decision, there is an interest in something that we want to obtain. For example, if you want quit your job and go back to study, your real goal might be: Improve your professional profile.</p>
      <p>Ask yourself the question: <strong>what is it that I really want to achieve when I make this decision?</strong> Think about it and write it down in the following field:</p>
    </div>
  </div>
    <div class="row row-bottom height60 margin0 padding0">
        <div class="col col-bottom height100 padding0">
            <div class="paper-bg height100">
                <textarea placeholder="Write here" class="handwritten" ng-model="indecision.realGoal"></textarea>
            </div>
        </div>
    </div>
