<div class="color-bar-blue-striped">Step Two</div>
<div class="col col-center">
  <h5 class="violet">Mental Song</h5>
</div>
<div class="row row-center">
  <div class="col col-center">
    <p>Now while paying attention to these events, you must sing a song mentally, any song that you know, from beginning to end. </p>
    <p></p>
    <p class="tcenter"><strong>Choose wisely, since you should always use the same one.</strong></p>
  </div>
</div>
<div class="row row-bottom" ng-repeat="aura in jelousy.auras">
  <div class="col italic bottom-line pink tcenter">
	<quote class="text-size">{{aura.name}}</quote>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <p>What you're really doing is putting the old network (that tries to trigger as it was used to) to complete with a new network, that responds to the same stimuli, but in a different way and more efficiently. This is the advance of neurosciences, practice hard and enjoy the results.</p>
  </div>
</div>

<div class="row last-row"></div>
