<div class="color-bar-blue-striped">Test Resuts</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Type of Loneliness</h5>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="test-result pink">{{loneliness.kind}}</h5>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <p>{{loneliness.message}}</p>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">What's your level</h5>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="test-result pink">{{loneliness.degree}}</h5>
  </div>
</div>
<div class="row last-row"></div>
