<div class="color-bar-blue-striped">Introduction</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row row-center">
  <div class="col col-center">
    <p>The methodology of Creative Problem Solving has two main foundations: <strong>affirmative thinking</strong> and <strong>suspension of judgment.</strong> Both are backed by multiple studies in the area of neuroscience.</p>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Affirmative Thought</h5>
    <p>It makes the limbic system of the brain activate the neocortical system responsible for cognitive processes. It is the part of the brain we use to think, create, devise, solve.</p>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Suspension of Judgement</h5>
    <p>Refers to the separation of two mental processes: creation of options and its evaluation. It doesn't mean we don't have to evaluate and judge, it's about learning to choose the right time for it.</p>
  </div>
</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Process</h5>
    <p>The methodology covers the whole cycle of problem solving: from analyzing the situation and the formulation of the challenge to the development of the innovative and original idea into a plan of action to carry out the solution.</p>
  </div>
</div>
<div class="row last-row"></div>
