<div class="color-bar-blue-striped">Step Seven</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Summary</h5>
    <p>The combination of the principles of affirmative thought and suspension of judgement at each stage of the cycle along with specific techniques of creative thinking, allows us to go beyond the ordinary and common solutions, which are a result of our current mental habits.</p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">The Vision</h5>
    <p class="italic violet tcenter"><quote>{{problem.vision}}</quote></p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">The Challenge</h5>
    <p class="italic violet tcenter"><quote>{{problem.challenge}}</quote></p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">The Best Idea</h5>
    <p class="italic violet tcenter"><quote>{{problem.bestIdea.name}}</quote></p>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">Solution Development</h5>
    <div ng-repeat="solution in problem.solutions">
      <p class="italic violet tcenter"><quote>{{solution.name}}</quote></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-center">
    <h5 class="pink bottom-line">Plan of Action</h5>
    <div ng-repeat="action in problem.actions">
      <p class="italic violet tcenter"><quote>{{action.name}}</quote></p>
    </div>
  </div>
</div>
<div class="row last-row"></div>
