<div class="color-bar-blue-striped">Step One</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Exploration of Vision</h5>
    <p>Before starting a journey of change is crucial to define the strategic vision, where we are going. Having the vision is what allows us to identify the right problem to solve in order to reach our destination.</p>
    <p>What is your vision? Identify it and write it down in the following field. Try to be brief and concise, the less words, the better.</p>
  </div>
</div>
<div class="row row-bottom height70 margin0 padding0">
  <div class="col col-bottom height100 padding0">
    <div class="paper-bg height100">
      <textarea placeholder="Write here" class="handwritten" ng-model="problem.vision"></textarea>
    </div>
  </div>
</div>
