<div class="color-bar-blue-striped">Step Five</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Assign Dates</h5>
    <p>A task without a deadline is doomed to be continuously postponed, it will forever stay in our "to-do" list. In order to avoid this, assign a specific date to each task:</p>
  </div>
</div>
<span ng-repeat="taskOrSubTaskToShow in getTasksAndSubTasks('a')">
  <div class="row row-center">
    <div class="col">
      <p class="italic bottom-line pink tcenter"><quote>{{taskOrSubTaskToShow.name}}</quote></p>
      <input type="text" ng-show = "!technic.isGoal" ng-focus="changeInputType($event, 'date')" ng-click="changeInputType($event, 'date')" ng-blur="restoreInputType($event, 'text')" class="min-text-size bold pink min-height-auto no-bg font-face-heavy" ng-model="taskOrSubTaskToShow.date" dir="ltr"  placeholder="Enter date" />
      <div ng-show = "technic.isGoal" class="violet">{{taskOrSubTaskToShow.date | date: "dd-MM-yyyy"}}</div>
    </div>
  </div>
</span>
<span ng-repeat="taskOrSubTaskToShow in getTasksAndSubTasks('b')">
  <div class="row row-center">
    <div class="col">
      <p class="italic bottom-line yellow tcenter"><quote>{{taskOrSubTaskToShow.name}}</quote></p>
      <input type="text" ng-show = "!technic.isGoal" ng-focus="changeInputType($event, 'date')" ng-click="changeInputType($event, 'date')" ng-blur="restoreInputType($event, 'text')" class="min-text-size bold yellow min-height-auto no-bg font-face-heavy" ng-model="taskOrSubTaskToShow.date" placeholder="Enter date"/>
      <div ng-show = "technic.isGoal" class="violet">{{taskOrSubTaskToShow.date | date: "dd-MM-yyyy"}}</div>
    </div>
  </div>
</span>
<span ng-repeat="taskOrSubTaskToShow in getTasksAndSubTasks('c')">
  <div class="row row-center">
    <div class="col">
      <p class="italic bottom-line violet tcenter"><quote>{{taskOrSubTaskToShow.name}}</quote></p>
      <input type="text" ng-show = "!technic.isGoal" ng-focus="changeInputType($event, 'date')" ng-click="changeInputType($event, 'date')" ng-blur="restoreInputType($event, 'text')" class="min-text-size bold violet min-height-auto no-bg font-face-heavy" ng-model="taskOrSubTaskToShow.date" placeholder="Enter date"/>
      <div ng-show = "technic.isGoal" class="violet">{{taskOrSubTaskToShow.date | date: "dd-MM-yyyy"}}</div>
    </div>
  </div>
</span>
<div class="row last-row"></div>
