<div class="color-bar-blue-striped">Step Nine</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Final Recommendations</h5>
    <p>When you adopt a habit too fast, you risk to set it aside at the same speed. Our natural tendency is to exhaust all our resources immediately, especially if the project is very motivating. To achieve success in your project, watch your excess of motivation and acquire habits slowly and in a controlled manner.</p>
  </div>
</div>
<div class="row row-center margin-top-8">
  <div class="col col-center">
    <h5 class="violet">Meet People</h5>
    <p>Meet people who need to do similar tasks than yours. If there's someone working in front you when you should also be working, you force yourself to do it with a thought: "If he's doing it, I can also do it".Plus they might be able to help if you get stuck. However, be careful with this, your goals must always be individual. The only responsible for carrying out your tasks is no one but yourself.</p>
    <p><strong class="violet">The fear of performing a task consumes more time and energy than doing the task itself.
</strong></p>
	<p>Interruptions disrupt your working pace and concentration. They constantly force your mind to recalibrate and strive to return to the task you were doing, so it's very important to avoid them.</p>
  </div>
</div>
<div class="row row-center margin-top-8">
  <div class="col col-center">
    <h5 class="violet">Be neat</h5>
    <p>It's important to tidy up your workplace to be able to really focus on your task. Sort all your papers so you can easily find them when needed. Everything unnecessary, remove it from the desktop. Too many visual stimuli make our subconscious be saturated trying to absorb a lot of unnecessary details of our environment.</p>
  </div>
</div>
<div class="row row-center margin-top-8">
  <div class="col col-center">
    <h5 class="violet">use Headphones </h5>
    <p>Our working environment can be noisy, and that makes it hard to be able to concentrate. Headphones and some inspirational music can be a solution. The music will help to abstract yourself from the environment and focus more on your work. 
Find out what music inspires you more to work and use it. Wearing headphones is one of the best anti-interruptions methods, if you see someone with headphones you would think twice before interrupting.</p>
  </div>
</div>
<div class="row row-center margin-top-8">
  <div class="col col-center">
    <h5 class="violet">short work blocks</h5>
    <p>To work more than 3 hours without being distracted is quite a hard task. It's best to work in short blocks of work, with short breaks. Think that the hardest thing of a big task, is to start it. If you use a technique of short blocks of work, it will be easier for you to start it, and therefore carry it out.</p>
  </div>
</div>
<div class="row row-center margin-top-8">
  <div class="col col-center">
    <h5 class="violet">external interruptions</h5>
    <p>Ask for silence. Tell the people you live with that you need to concentrate for an important project and you would be grateful to not be interrupted. Apart from avoiding external interruptions you're also committing socially to do that task. Isolate yourself from electronics. Your phone upside down and silent, your laptop away if you don't need it.</p>
  </div>
</div>
<div class="row row-center margin-top-8">
  <div class="col col-center">
    <h5 class="violet">leisure time</h5>
    <p>Studies have shown that people who spend part of their time to leisure activities are much more efficient than those who do not. 
If you know you have a day off, you are less likely to postpone tasks because you don't want to work on your free day. But when all days are the same, you can't see the end of work and your mind will use procrastination to ensure a little fun in your life.
It's very important to learn how to plan your leisure time. </p>
  </div>
</div>
<div class="row last-row"></div>