<div class="color-bar-blue-striped">Step Three</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Don't Overload</h5>
    <p>Having a long list of pending tasks will make you feel helpless. Be realistic and set a number of tasks that you know you are able to fulfill. If you don't accomplish a task one day, it's not serious, but if it becomes a habit it can generate frustration, stress and negative thoughts that play against your productivity.</p>
    <p class="tcenter">Delete any task that it's not really important or that you think you won't be able to fulfill:</p>
  </div>
</div>

<div class="row row-bottom" ng-repeat="task in procastination.tasks">
  <div class="col col-bottom">
        <sup ng-show="{{procastination.tasks.length > 1}}" class="close fright"><i ng-click="procastinationRemoveTask($index)" class="icon icon-close"></i></sup>
            <p class="tcenter italic bottom-line violet" style="width: 80%;">
              <quote style="display: inline-block;">{{task.name}}</quote>
            </p>
        <span ng-repeat="subtask in task.subtasks">
			<sup ng-show="task.subtasks.length > 1" class="close fright"><i ng-click="procastinationRemoveSubtask(task, $index)" class="icon icon-close fnone"></i></sup>
          	<p style="width:80%;" class="pink tcenter bold margin-bottom-8">{{subtask.name}}</p>
        </span>
      <div class="row height5"></div><!-- DIV SEPARADOR -->
    </div>

  </div>

  <div class="row last-row"></div>
