<div class="color-bar-blue-striped">Step Seven</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Reward Yourself</h5>
    <p>Knowing that you have a limited time to work and then you can do something you love will motivate you to work harder, and better. Promise yourself something simple whenever you fulfill a task and you will enjoy the satisfaction.</p>
    <p>What would your reward be?</p>
  </div>
</div>
<div class="row row-bottom">
  <div class="col col-bottom">
    	<textarea type="text" class="msd-elastic italic bottom-line violet tcenter text-size min-height-inherit" ng-model="procastination.reward" rows="1"></textarea>
    </div>
  </div>
