<div class="color-bar-blue-striped">Introduction</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row">
  <div class="col col-top">
    <p>Procastination is the act or habit of postponing activities or situations that must be addressed, replacing them with more pleasant and irrelevant situations.</p>
    <p>It has happened to us all; we have a job or a major project to do this afternoon and we start postponing it for other things. Late afternoon arrives, and we say "I'll do it tomorrow, I'll be more fresh.." This is procrastinating.</p>
    <p class="violet"><b>People who don't postpone are what we call successful, self controlled or people with willpower.</b></p>
    <p><quote class="bold">The more a task is postponed, the more likely it's to be postponed again.</quote></p>
    <p>Having the habit of procrastination creates a sense of helplessness, frustration and continuous stress for not getting the job done.</p>
    <p>We will work to get rid of this habit by following a step by step procedure.</p>
  </div>
</div>
<div class="row last-row"></div>