<div class="color-bar-blue-striped">Step Five</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Learn from your mistakes</h5>
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col">
    <p><strong>The quickest way to find success is to fail over and over again.</strong></p>
    <p>For example, I was once 30 minutes late for an interview. I did not get the job and I became very self-critical of my tardiness. Once I asked myself "what is the lesson I learned?" I quickly calmed down and applied this lesson to future experiences.</p>
    <p>I now leave my house one hour early for interviews, which has served as a valuable lesson. No need to continue to berate myself. In addition, frequently remind yourself how far you've come. Every time you make a mistake, you learn something new.</p>
  </div>
</div>
<div class="row last-row"></div>
