<div class="color-bar-blue-striped">Step One</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Identify the Thought or Fear</h5>
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col">
    <p>What is the biggest fear? Maybe you are afraid of getting tired or looking foolish in front of others. Journaling can be a great way to clarify the underlying fear.</p>
  </div>
</div>
<div class="row row-bottom height80 margin0 padding0">
  <div class="col col-bottom height100 padding0">
    <div class="paper-bg height100">
      <textarea placeholder="Write here" class="handwritten" ng-model="rumitative.fear"></textarea>
    </div>
  </div>
</div>
