<div class="color-bar-blue-striped">Step Four</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Can you change the situation?</h5>
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col">
    <p>Is it possible for you to change the current situation?</p>
  </div>
</div>
<div class="row height60">
  <div class="col col-center">
    <div class="btn-answer-boolean pink" ng-click="rumitativeChangeYes()">YES</div>
    <div class="btn-answer-boolean violet" ng-click="rumitativeChangeNo()">NO</div>
  </div>
</div>
