<div class="color-bar-blue-striped">Summary</div>
<div class="row row-center height30">
  <div class="col col-center">
    <h5 class="violet">Review your journey</h5>
    <p>This is the summary of the steps you've completed up until this point. Read it carefully and re-evaluate your need to feel guilt:</p>
  </div>
</div>
<div class="row">
  <div class="col col-bottom">
    <h5 class="pink bottom-line">Thought Or Fear</h5>
    <p class="violet tcenter"><quote>{{rumitative.fear}}</quote></p>
  </div>
</div>
<div class="row">
  <div class="col col-bottom">
    <h5 class="pink bottom-line">Worst-Case Scenario</h5>
    <p class="violet tcenter"><quote>{{rumitative.worstCase}}</quote></p>
  </div>
</div>
<div class="row" >
  <div class="col col-bottom" ng-show="rumitative.tasks[0].name != ''">
    <h5 class="pink bottom-line">Changes To be Made</h5>
    <div ng-repeat="task in rumitative.tasks">
      <p class="violet tcenter"><quote>{{task.name}}</quote></p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col col-bottom">
    <h5 class="pink bottom-line">Worry Break</h5>
    <p class="violet tcenter">This is the period you've set for yourself to worry during your day, for the rest of the day try to be worry free. You will be reminded daily until you decide to stop it.</p>
  </div>
</div>
<div class="row">
  <div class="col col-bottom margin0 padding0 violet text-worry-break">
    <span class="pink">{{rumitative.break}}'</span>
    at {{rumitative.breakTime}}
  </div>
</div>
<div class="row last-row"></div>
