<div class="color-bar-blue-striped">Step One</div><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Why are you worried?</h5>
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col col-center" style="text-align: justify">
    Think of a situation that worries you. If it helps you remember, close your eyes. Once you've figured out what worries you, write it down in the following field:
  </div>
</div>
<div class="row row-bottom height75 margin0 padding0">
  <div class="col col-bottom height100 padding0">
    <div class="paper-bg height100">
      <textarea placeholder="Write here" class="handwritten" ng-model="worry2.feelingText"></textarea>
    </div>
  </div>
</div>
