<div class="color-bar-blue-striped">Step Two</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Focus on that Feeling</h5>
  </div>
</div>
<div class="row row-top fsize-small height30">
  <div class="col col-center" style="text-align: justify">
    Now put all your attention on the situation you've described, and count from 20 to 0 aloud. Hit Start to begin the contdown
  </div>
</div>

<div class="row row-bottom padding0">
  <div class="col padding0">
    <span class="countdown pink">{{worry2.countdown}}</span>
    <p class="countdown-phrase italic pink tcenter"><quote>{{worry2.feelingText}}</quote></p>
  </div>
</div>

    <div class="bar bar-footer margin0 padding0">
      <div class="col col-top margin0 padding0">
<button class="move violet uppercase" ng-click="worry2Start()" ng-show="showButton" ng-init="worry2OnLoad()">start</button>
        <div class="bottom-bar-blue-fixed"></div>
        </div>
   </div>