<div class="color-bar-blue-striped" style="margin-bottom:9px">Step Five</div>
<div class="row row-center">
  <div class="col col-center">
    <h5 class="violet">Is It Going To Happen?</h5>
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col col-center" style="text-align: justify">
    Set the same scenario again having in mind the previous comparison. What evidence do you have that what you're worried about is really going to happen? If you score in percentages, could you be certain that it is 80, 90 or 100% sure it will happen?
  </div>
</div>
<div class="row row-bottom fsize-small">
  <div class="col">
    Use the slider to give a percentage of probability:
  </div>
</div>

<div class="row height30">
  <div class="col col-bottom">
    <span class="fsize-big pink">{{worry1.value}}%</span>
    <div class="range range-positive">
      <input type="range" name="volume" min="0" max="100" value="" ng-model="worry1.value" ng-change="worry1SetResults()">
    </div>

  </div>
</div>
<div class="row last-row"></div>
