<span id="second-animations">
	<div class="color-bar-title-striped-yellow">{{ level.title }}<span></span></div>
    <ion-scroll class="height100 has-subheader" on-swipe-right="onSwipeRight()" has-bouncing="false" >
                <div class="row row-bottom height25">
                    <div class="col col-bottom">
                        <h4 style="font-style:21px;">{{ level.subtitle }}</h4>
                    </div>
                </div>
                <div class="row row-center height20">
                    <div class="col col-center">
                        <p>{{ level.description }}</p>
                    </div>
                </div>
                <div class="row row-top" style="height:130px;margin-top: 20px;">
                    <div class="swipe-borders"></div>
                    <div class="swiper-container text-uppercase">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide" ng-repeat="option in level.options track by $index" ng-class="{ active: $index === pathologySelected, 'yellow': $index >= 1 &amp;&amp; $index < level.options.length - 1 }" ng-click="selectPathology($index, option)">
                          <div class="row row-center">
                            <div class="col col-center">
                              <h5 class="pathology-title" ng-class="{ 'blur-me-sm': $index !== pathologySelected }">{{ option }}</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                    <div class="swipe-borders-2"></div>
                <div class="row last-row"></div>

    </ion-scroll>
</span>
    <div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
			<button class="move yellow" ng-click="nextPathology()">continue</button>
			<div class="bottom-bar-yellow-fixed"></div>
         </div>
	</div>
