<ion-view title="<span class='yellow'>{{technic.title}}</span>">
  <ion-content scroll="false" has-bouncing="false">
      <div class="color-bar-title-striped-yellow">{{technic.subtitle}}<span></span><span class="help-icon-rounded-not-good top-right-button" ng-click="postpone(technic)"><img src="svg/postpone-icon-rounded.svg"></span></div>
    <ion-scroll scroll="auto" class="height100 has-subheader" has-bouncing="false">
      <div class="row row-center">
        <div class="col col-center">
          <p>{{$root.technic.description}}</p>
        </div>
      </div>
      <div ng-include="technic.url"></div>

      <div class="row last-row"></div>
    </ion-scroll>

    <div class="bar bar-footer margin0 padding0">
      <div class="col col-top margin0 padding0">
        <button ng-show="technic.wizard != true" class="move yellow" ng-click="goToTechnicNext(technic)" style="text-transform:uppercase">finish</button>
        <button ng-show="technic.wizard == true" class="move yellow" ng-click="goToTechnicNext(technic)" style="text-transform:uppercase">start</button>
        <div class="bottom-bar-yellow-fixed"></div>
      </div>
    </div>
  </ion-content>
</ion-view>
