	<div class="color-bar-title-striped-pink">Summary<span></span></div>
    <ion-scroll class="height100 has-subheader" scroll="auto" on-swipe-right="onSwipeRight()" has-bouncing="false">
        <div class="row row-center">
        	<div class="col col-center">
            	<h4>Congratulations!</h4>
            </div>
        </div>
        <div class="row row-center">
        	<div class="col col-center">
            	<p>You have succesfully made a mood-print of your day. This will give us clues on what you enjoy and makes you feel good. We will use these learnings whenever you need to be reminded of better times. Find the summary below.</p>
            </div>
        </div>
        <div class="row row-center margin0 padding0">
        	<div class="col col-center margin0 padding0">
                    <div class="color-bar-pink-striped-subtitle" style="margin-bottom:0;">Things that make<span>You Happy</span></div>
            </div>
        </div>

        <span class="things-that-makes-you-bg">
                <div class="row row-center">
                    <div class="col col-center">
                        <input dir="ltr" placeholder="Word" class="input-feeling-good" disabled>
                        <h4 class="button-style">{{ data.word }}</h4>
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col col-center">
                        <input dir="ltr" placeholder="Thought" class="input-feeling-good" disabled>
                        <h4 class="button-style">{{ data.thought }}</h4>
                    </div>
                </div>
                <div class="row row-center">
                    <div class="col col-center">
                        <input dir="ltr" placeholder="Sensation" class="input-feeling-good" disabled>
                        <h4 class="button-style">{{ data.sensation }}</h4>
                    </div>
                </div>
        </span>

        <div ng-if="data.photographyURI" class="row row-center margin0 padding0">
        	<div class="col col-center margin0 padding0">
                    <div class="color-bar-pink-striped-subtitle" style="margin-bottom:0 !important;">Photography of<span>Conscience</span></div>
            </div>
        </div>
        <div ng-if="data.photographyURI" class="row row-center margin0 padding0 height50">
        	<div class="col col-center margin0 padding0 height100">
            	<div class="photo-of-conscience" style="background-image: url({{ data.photographyURI }})"></div>
            </div>
        </div>
        <div class="row row-center margin0 padding0">
        	<div class="col col-center margin0 padding0">
                    <div class="color-bar-pink-striped-subtitle" style="margin-bottom:0;">The things you<span>Experienced</span></div>
            </div>
        </div>
        <div class="row row-center height40 margin0 padding0 things-that-makes-you-bg">
        	<div class="col col-center margin0 padding0">
                    <p class="first-letter" style="margin-top:0; padding:24px;">{{ data.thoughts }}</p>
            </div>
        </div>
    	<div class="row last-row"></div>
    </ion-scroll>
    <div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
			<button ui-sref="welcome"><i class="icon icon-home" style="font-size:48px"></i></button>
			<div class="bottom-bar-fixed"></div>
         </div>
	</div>
