<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="intro height100">
        <div class="row height100 bg-logo-intro">
        	<div class="col col-center">
		        <img class="logo-intro" src="svg/chat-connecting.svg" alt="Chat Connecting">
                <h4>Please hold on</h4>
                <p class="tcenter">we are connecting you...</p>
                <p class="tcenter"><i class="icon icon-loading ion-refresh"></i></p>
	        </div>
        </div>
  </ion-content>
</ion-view>