<ion-view title="<span>Chat</span>">
  <ion-content>
  	<ion-scroll scroll="auto" class="height100">
        <div class="color-bar-pink-striped"> Privacy Settings<span></span></div>
        
        <div class="row row-center">
                <p class="tleft">&nbsp; <br> On this screen you can define what other users will see when they visit your profile. Your name and picture will always be shown unless you chat anonymously.
      </div><!-- ENDS row-center -->
                <ul class="list tleft">
                  <li class="item item-toggle chat">
                     Show Age
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                  <li class="item item-toggle chat">
                     Show Gender
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                  <li class="item item-toggle chat">
                     Show Users Rating
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                  <li class="item item-toggle chat">
                     Show Personality Type
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                  <li class="item item-toggle chat">
                     Show Average Mood
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                  <li class="item item-toggle chat">
                     Show Social Media Links
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                  <li class="item item-toggle chat">
                     Show Achievements
                     <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track pink-toggle">
                         <div class="handle"></div>
                       </div>
                     </label>
                  </li>
                </ul>
                
                <br>
                <div class="row row-center">
                    <p class="tleft">
                    <em class="uppercase">Personal Information</em><br><br>
                        Please fill in <strong>only</strong> the fields you'd like share with other users:
                        </p>
                 </div><!-- ENDS row-center -->
                
                <div class="list">
                
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">From</div>
                    <span class="arrow-right-promood">Choose Country</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">Live In</div>
                    <span class="arrow-right-promood">Choose Country</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">Occupation</div>
                    <span class="arrow-right-promood">Blank</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">Marital Status</div>
                    <span class="arrow-right-promood">Choose</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">Hobbies</div>
                    <span class="arrow-right-promood">Blank</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">Favorite Quote</div>
                    <span class="arrow-right-promood">Blank</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                  <label class="item item-radio chat">
                    <input type="radio" name="group">
                    <div class="item-content tleft chat">A Few Words</div>
                    <span class="arrow-right-promood">Blank</span>
                    <i class="arrow-right-promood ion-ios7-arrow-right"></i>
                  </label>
                </div>
            <div class="row last-row"></div>
</ion-scroll>
	<div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
			<div class="bottom-bar-fixed"></div>
         </div>
	</div>
  </ion-content>
</ion-view>
