<ion-view title="<span>About</span>">
  <ion-content scroll="false" has-bouncing="false" class="over-bg-a">
	<div class="color-bar-title-striped-pink">More Info<span></span></div>
  	<ion-scroll scroll="auto" class="height100 has-subheader" has-bouncing="false">
        <div class="row row-center height85">
        	<div class="col col-center">

		                <p class="tcenter bottom-line" ui-sref="intro">Replay Introduction</p>
		                <p class="tcenter bottom-line" ui-sref="disclaimer">Disclaimer</p>
		                <p class="tcenter bottom-line"><a style=""  ng-click="OpenUrlInExternalBrowser('http://www.promoodapp.com')">Visit Promoodapp.com</a></p>
		                <p class="tcenter bottom-line" ng-click = "OpenUrlInExternalBrowser('itms-apps://itunes.apple.com/app/id969168596')" >Rate in the App Store</p>
		                <p class="tcenter bottom-line" ng-click = "OpenUrlInExternalBrowser('https://www.facebook.com/701941613255560')" >Like us on Facebook</p>
		                <p class="tcenter bottom-line" ng-click = "OpenUrlInExternalBrowser('https://www.twitter.com/promoodapp')">Follow us on Twitter</p>
		                <p class="tcenter" ng-click = "SuggestFeatureByEmail()">Suggest a Feature</p>
            </div>
        </div>
    </ion-scroll>
    <div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
			<!--<button>
                <a class="bvision-link">Developed by <img src="svg/logo-bvision.svg" alt="/BVision" title="/BVision"></a>
            </button>-->
			<div class="bottom-bar-fixed"></div>
         </div>
	</div>
  </ion-content>
</ion-view>
