<ion-view title="<span>Biorhythm</span>">
  <ion-content scroll="false" has-bouncing="false" class="over-bg-d">
    <div class="color-bar-title-striped-pink">What are biorhythm?<span></span></div>
  	<ion-scroll scroll="auto" class="height100 has-subheader" has-bouncing="false">
        <div class="row row-center">
        	<div class="col col-center">
            	<p>Biorhythm charts illustrate the principle that our lives are affected by physical, emotional, and mental cycles. Many people say that they can improve the quality of their lives by monitoring the highs and lows of these cycles and acting accordingly. You can even compute your compatibility with someone else to predict the highs and lows in your physical, emotional, and mental relationships with them.
</p>
             </div>
        </div>
        <div class="row row-center">
        	<div class="col col-center">
            	<p>In the beginning of this century, Dr. Wilhelm Fliess noticed identical rhythms in the case histories of his patients. He observed active and passive phases in the physical, emotional and mental aspects of humans. Out of these observations he derived the principle of the biorhythms: The physical curve with its cycle of 23 days, the emotional curve with 28 days and the mental curve with 33 days.
</p>
             </div>
        </div>
        <div class="row row-center">
        	<div class="col col-center">
            	<p>When the curve of any cycle is to the right of the centerline, we experience a "high" in the corresponding field (physical, emotional or mental). If it is the physical curve, you will feel bodily well and, for example, if you were to have an operation the body would be more resilient. If it is the emotional curve, you will be in high spirits and your interaction with others will be positive. If it is the mental curve, your mind will be sharper, concentration will be easier and you may be more creative than usual.When the curve of any cycle is to the left of the centerline, we experience a "low" in the corresponding field.
</p>
             </div>
        </div>
        <div class="row row-center">
        	<div class="col col-center">
            	<p>If it is a physical low, you may feel tired and listless; if it is an emotional low, you may feel sad and out of sorts; if it is a mental low, thinking can be difficult and you may find it hard to concentrate and remain focused.
</p>
             </div>
        </div>
        <div class="row row-center">
        	<div class="col col-center">
            	<p>When any of the curves crosses the centerline, this is a critical time in the corresponding field and if two curves cross the midline at the same point, this is a very critical time. Critical in the physical field means you may feel exhausted and it is better to avoid physical effort and operations. Critical in the emotional field means you may feel irritable and sad, and emotional outbreaks are likely so it is better to avoid conflicts and arguments. Critical in the mental field finally means unclear thinking and it is better to postpone activities that demand a lot of concentration.
</p>
             </div>
        </div>
        <div class="row row-center">
        	<div class="col col-center">
            	<p><strong>Biorhythms can't predict or explain events; they can only suggest how we may deal with them. It is for you to decide whether you believe them or not!</strong></p>
             </div>
        </div>

        <div class="row last-row"></div>
        <div class="row last-row"></div>
    </ion-scroll>
	<div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
        	<button class="move uppercase" ng-click="goBack()">Understood</button>
			<div class="bottom-bar-fixed"></div>
         </div>
	</div>
  </ion-content>
</ion-view>
