<ion-view title="<span class='violet'>Congratulations</span>">
  <ion-content has-bouncing="false">

<div class="color-bar-blue-striped"></div>
<div class="col col-center">
<p></p>
  <h5 class="violet">SOME MORE TIME?</h5>
  <p></p>
</div>
<div class="row row-center">
  <div class="col col-center">
    <p>You have succesfully finished the assigned specific technique! If you have some more time, we will recommend you  a second technique that will help you ease the symptoms even further.</p>
  </div>
</div>
<div class="row">
  <div class="col col-bottom worry-2">
    <div class="btn-answer uppercase pink bottom-line" ng-click="goToTechnicNext(technic)">CONTINUE WITH<br>{{nextStepTechniqueString}} TECHNIQUE</div>
    <div class="btn-answer uppercase violet margin0" ui-sref="welcome">FINISH NOW AND<br>GO HOME</div>
  </div>
</div>
</ion-content>
</ion-view>
