<ion-view title="<span>About</span>">
  <ion-content>
    <div class="color-bar-title-striped-pink">Disclaimer<span></span></div>
  	<ion-scroll scroll="auto" class="height100 has-subheader" has-bouncing="false">
        <div class="row row-center height20">
        	<div class="col col-center">
            	<p><strong>This app is not a substitute for professional mental health care.</strong></p>
             </div>
        </div>
        <div class="row row-center height20">
        	<div class="col col-center">
            	<p>If you have or suspect you may have a mental health problem, you should consult a mental health care professional and/or physician.
             </div>
        </div>
        <div class="row row-center height20">
        	<div class="col col-center">
            	<p>Please discontinue using this app if you experience unwanted side effects and seek professional help.
             </div>
        </div>
        <div class="row row-center height20">
        	<div class="col col-center">
            	<p>If you're working with a professional, let him know that you are using this app.
             </div>
        </div>

        <div class="row last-row"></div>
    </ion-scroll>
	<div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
        	<button class="move uppercase" ui-sref="about">Understood</button>
			<div class="bottom-bar-fixed"></div>
         </div>
	</div>
  </ion-content>
</ion-view>
