<ion-view hide-nav-bar="true">
  <ion-content scroll="false" class="intro height100">
    <ion-slide-box does-continue="false" show-pager="false" on-slide-changed="slideChanged($index)" class="height100">
          <ion-scroll scroll="auto" class="row row-top height100 margin0 padding0">

                    <div class="row row-top" style="margin-bottom:8%">
                        <div class="col col-top">
                            <h2 class="pink">Welcome</h2>
                        </div>
                    </div>
                    <div class="row row-top">
                        <div class="col col-top">
                        	<p class="tcenter" style="margin-bottom:5px;">And thanks for having choosen <strong>proMood</strong>.
<p>
You have just taken your first step into the world of conscious well-being.
<p>
For most of the people the mood is something that just occurs, something over which we have no control...

                        </div>
                    </div>
                    <div class="row row-center">
                        <div class="col col-center">
                        	<h4 class="font-book">Nothing could be further
 from the truth.</h4>
                        </div>
                    </div>
                    <div class="row row-top">
                        <div class="col col-top">
                        	<p>Our moods are malleable and you can learn how to change, improve and enhance them consciously.
                        </div>
                    </div>
                    <div class="row row-center" style="padding:6% 0;">
                        <div class="col col-center">
                        	<img title="So-So" alt="So-So" src="svg/not-so-good.svg" style="width:90%">
                        </div>
                        <div class="col col-center">
                        	<img title="Feeling Great!" alt="Feeling Great!" src="svg/i-feel-good.svg" style="width:90%">
                        </div>
                        <div class="col col-center">
                        	<img title="Not Good" alt="Not Good" src="svg/not-so-bad.svg" style="width:90%">
                        </div>
                    </div>
                    <div class="row row-center">
                        <div class="col col-center">
                        	<h4 class="font-book pink">We created proMood for
 this great purpose.</h4>
                        </div>
                    </div>
                    <div class="row row-top">
                        <div class="col col-top">
                        	<p>But for the app to be really useful we need to know more about your personality, that's why this first time we will ask you for a little patience to perform a personality type test. With this information it will be easier for us to guide you through your mood states and find solutions more adequate to your personality.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-center" style="padding:6vh 7vh;">
                            <img class="svg" src="svg/welcome.svg">
                        </div>
                    </div>
                    <div class="row row-top">
                        <div class="col col-top">
                        	<p>You will be provided with advice and techniques to practice and improve your different moods. But remember, change and improvement comes only with work and commitment, it's vital that you take the time to perform this tasks a little bit every day. The best way to keep your daily work is through the notifications system, it's set by default twice a day but you can change it to accommodate your daily preference.
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-center" style="padding:5vh 19vh;">
                            <img class="svg" src="svg/bell.svg">
                        </div>
                    </div>
                    <div class="row row-top">
                        <div class="col col-top">
                        	<p>This is the heart of proMood, but there's a lot more! Find extra trainings, use our Chat feature, deal with panic attacks efficiently, and a much more.
                        </div>
                    </div>
                    <div class="row row-center">
                        <div class="col col-center" style="padding:4vh;">
                        	<h4 class="font-book custom-1" ui-sref="about">Got it, let's start!</h4>
                        </div>
                    </div>



                 </div>
        </ion-scroll>


    </ion-slide-box>
  </ion-content>
</ion-view>
