<ion-scroll class="height100" scroll="false" on-swipe-right="onSwipeRight()" has-bouncing="false">
  <div class="row row-center height47 success bg-pink">
    <div class="col height44">
      <img src="svg/i-feel-good-success.svg" class="svg">
      <h3>Success!</h3>
    </div>
  </div>
  <div class="row row-bottom height30">
    <div class="col">
      <p class="tcenter">You have succesfully finished the assigned technique. Keep working on it and you will notice a difference in your life, for there is no change without hard work</p>
      <p class="tcenter" ng-show="socialMediaEnabled">Would you like to share with friends?</p>
    </div>
  </div>
  <div class="row row-top height12">
    <div class="col height100 tright" ng-show="socialMediaEnabled">
      <img src="svg/social-icons-facebook.svg" class="svg" ng-click="shareOnFacebook(shareMessage, 'www/images/social-share-image.png', 'https://www.facebook.com/promoodapp')">
    </div>
    <div class="col height100 tleft" ng-show="socialMediaEnabled">
      <img src="svg/social-icons-twitter.svg" class="svg" ng-click="shareOnTwitter(shareMessage, 'www/images/social-share-image.png', 'https://twitter.com/promoodapp')">
    </div>
  </div>
</ion-scroll>
<div class="bar bar-footer margin0 padding0" style="background:none;">
  <div class="col col-center margin0 padding0">
    <button ng-click="noSharing()" ng-show="socialMediaEnabled">No, thanks!</button>
    <button ng-click="goToCongratulations()" ng-hide="socialMediaEnabled">Continue</button>

    <div class="bottom-bar-fixed"></div>

  </div>
</div>
