<ion-view title="<span>Trainings</span>">
  <ion-content has-bouncing="false" scroll="false" class="over-bg-g2">
    <div class="color-bar-title-striped-pink">Choose Your Daily Helper<span></span></div>
  	<ion-scroll scroll="auto" class="height100 has-subheader" has-bouncing="false">
        

        <div class="row row-center" ng-click="showTrainingDescription()">
        	<div class="col col-center">

		                <p class="tcenter bottom-line">Mindulness 8 weeks Program</p>
                        <span ng-show="$root.trainingDescriptionVisible">
                            <p class="pink">
Mindfulness practice is being employed in psychology to alleviate a variety of mental and physical conditions, including obsessive-compulsive disorder, anxiety, and in the prevention of relapse in depression and drug addiction. It has gained worldwide popularity as a distinctive method to handle emotions.                            </p>
                           <button class="uppercase goals" ng-click="startTraining()">Start</button>
                           <!--<button class="uppercase goals" ui-sref="mindfulnessSinglePage">Start</button>-->
                        </span>

            </div>
        </div>

       
        <div class="row last-row"></div>
    </ion-scroll>
	<div class="bar bar-footer margin0 padding0">
    	<div class="col col-top margin0 padding0">
			<div class="bottom-bar-fixed"></div>
         </div>
	</div>
  </ion-content>
</ion-view>